/* top-level styles */

* {
    font-family: "Lato", sans-serif;
    user-select: none;
}

body {
    padding: 20px 30%;
    background-color: #151D21;
    color: #ffffff;
}

/* global tag styles */

p {
    line-height: 1.6;
}

a {
    color: #ee9d01;
    text-decoration: none;
}

a:hover {
    color: #c98302;
}

/* header styles */

header {
    text-align: center;
}

header img {
    width: 100px;
    user-select: none;
}

nav {
    padding: 10px 0px;
    overflow: hidden;
    user-select: none;
}

nav a {
    float: center;
    color: #adadad;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #000000;
    color: #ee9d01;
}

/* page styles */

code {
    font-family: monospace;
}

/* post styles */

.post-date {
    color: #777777;
}

/* footer styles */

footer {
    text-align: center;
    font-size: 12px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: inherit;
}

/* sizing specific styles */

@media (max-width: 1000px) {
    body {
        padding: 20px 10px;
    }
}

@media (max-width: 600px) {
    nav a {
        display: block;
    }
}